{% assign posts = site.posts %}

<article class="post post-body" style="max-height; none; height: 650px;">
	<img class="img" src="/images/arduino-kit.jpg" style="">
	<section>
	블로그 개선 작업 중입니다.블로그 개선 작업 중입니다.블로그 개선 작업 중입니다.블로그 개선 작업 중입니다.블로그 개선 작업 중입니다.블로그 개선 작업 중입니다.블로그 개선 작업 중입니다.블로그 개선 작업 중입니다.블로그 개선 작업 중입니다.블로그 개선 작업 중입니다.블로그 개선 작업 중입니다.블로그 개선 작업 중입니다.블로그 개선 작업 중입니다.블로그 개선 작업 중입니다.블로그 개선 작업 중입니다.블로그 개선 작업 중입니다.블로그 개선 작업 중입니다.블로그 개선 작업 중입니다.블로그 개선 작업 중입니다.블로그 개선 작업 중입니다.블로그 개선 작업 중입니다.블로그 개선 작업 중입니다.블로그 개선 작업 중입니다.블로그 개선 작업 중입니다.블로그 개선 작업 중입니다.블로그 개선 작업 중입니다.블로그 개선 작업 중입니다.블로그 개선 작업 중입니다.블로그 개선 작업 중입니다.블로그 개선 작업 중입니다.블로그 개선 작업 중입니다.블로그 개선 작업 중입니다.블로그 개선 작업 중입니다.
	</section>
</article>

