{% assign posts = site.posts %}

<article class="post post-body" style="max-height; none; height: 650px;">
	<img class="img" src="/images/main_index.jpg" style="">
	<section>
		Hobby Coding!
		<!-- <h4>The aim of my life is to work happily while developing for all of my life. I like to challenge development in various areas. 
		I'm currently working for Hyundai motor company - and working vision A.I. in the autonomous driving system. 
		Current areas of interest include autonomous driving system and learning javascript.</h4> -->
		
		<ul>
			<li> 2019 - Present : Hyundai Motor Company </li>
			<li> 2014 - 2019 : LG Electronics </li>
			<li> 2013 - 2014 : Naver SW Membership, Naver Business Platform Intern </li>
		</ul>
	</section>
</article>

